@use 'variables';
@use 'mixins';

.index {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: variables.$headingfont;
}

p,
a {
  font-family: variables.$pfont;
}

/* Header styling */
.index_header {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(117, 19, 93, 0.73)
    ),
    url(../../media/CompressedHeader.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
  text-align: center;
  scroll-snap-align: start;

  h1 {
    font-size: 3rem;
    margin: 0;
    position: absolute;
    color: white;
    top: 40vh;
  }

  h3 {
    color: white;
  }

  a {
    @include mixins.button();
    font-size: 2rem;
    text-decoration: none;
    color: white;
    position: absolute;
    top: 90vh;
    right: 0vw;
  }
}

/* AboutMe section styling */
.index_main {
  background-image: linear-gradient(
      to bottom,
      rgba(117, 19, 93, 0.73),
      rgba(245, 246, 252, 0.52)
    ),
    url(../../media/18-min.jpg);
  background-size: cover;

  h1,
  h2,
  h3,
  p,
  .fas {
    color: white;
  }
}

.box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  transition: 0.3s ease-in-out;
  border-radius: 5%;
}

.box:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.headerlogo {
  @include mixins.flex();
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* max-width: 70%; */

  .fas {
    font-size: 2rem;
  }
}

.privatliv {
  grid-area: about;
  /* margin: auto; */
}

.framtid {
  grid-area: future;
}

.studier {
  grid-area: studies;
}

.jobb {
  grid-area: work;
}

.profilepic {
  grid-area: picture;
  margin: 2rem auto;

  img {
    max-height: 300px;
    border-radius: 100%;
  }
}

.about {
  margin: 0 50px;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "picture picture"
    "about future"
    "studies work";
}
